@media screen and (max-width: 400px) {
  .show-box {
    width: 90%;
  }
}

.show-box {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
mat-form-field {
  display: inline;
}

button {
  margin-top: 20px;
}
